<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>All Games</h1>
    <p>Only games that you haven't marked will appear here. If you want to see games you have marked, go to My Games.</p>
    
    <ul class="lisn">
      <%= render @games %>
    </ul>

    <%= will_paginate @games %>
    </div>
  </div>
</div>